.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
}
#signInDiv {
    display: flex;
    justify-content: center;
}
#homepage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invisible {
    visibility: hidden;
    display: none !important;
}
/* .App > div {
    width: 50%;
} */
.employee-details {
    border: 1px solid black;
    padding: 20px;
}
.timesheet-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}
.timesheet-details > * {
    width: 50%;
}
.display-area,
.download-work-area,
.work-area {
    border: 1px solid black;
    padding: 20px;
}
.active {
    background-color: blue;
    color: white;
}

.timesheet-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100% !important;
    align-self: stretch;
    padding: 20px;
    /* flex: 1; */
}

.submit-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}
.modal {
    position: fixed;
    height: 200px;
    width: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}
